---
import Layout from '../../layouts/Layout.astro'
import Container from '../../components/Container.astro'
---

<Layout title="Página não encontrada - Informant">
  <Container>
    <h1>Nosso trabalho fala por si mesmo</h1>
    <p>Na Informant, acreditamos que a nossa missão é entender as oportunidades detectadas por nossos clientes para criar os produtos de software mais eficientes e mais fáceis de usar dentro dos prazos mais curtos, sempre com o objetivo de maximizar suas chances de sucesso.</p>
    <p>Graças à Informant, investidores e empresas dos mais diversos setores, desde consultorias até empresas de tecnologia, obtiveram ganhos recorrentes de receita e tangibilização incrementada de seus serviços, com total aproveitamento de oportunidades usando a tecnologia certa dentro do prazo esperado.</p>
  </Container>
</Layout>
