---
import Spacer from '../../../components/Spacer.astro'
import Card from '../../../components/Card.astro'
---

<Spacer my="4" />

<Card>
  <div class="row">
    <div class="col">
      <h2>Entre em contato</h2>
      <p>Estamos ansiosos para trabalhar em parceria com você e criar soluções personalizadas que cativarão seus clientes e impulsionarão o crescimento do seu negócio.</p>
      <p>Preencha o formulário e vamos começar essa jornada tecnológica juntos!</p>
      <img src="/images/end-to-end.png" width="356" height="196" alt="Entre em contato">
    </div>
    <div class="col">
      <form id="form">
        <label for="name">Nome (obrigatório)</label>
        <input type="text" name="name" id="name" />

        <label for="email">E-mail (obrigatório)</label>
        <input type="text" name="email" id="email" />

        <label for="phone">Telefone</label>
        <input type="text" name="phone" id="phone" maxlength="16" />

        <label for="budget">Selecione (obrigatório)</label>
        <select name="budget" id="budget">
          <option value="">Selecione uma opção de orçamento</option>
          <option value="R$30.000 a R$60.000">R$30.000 a R$60.000</option>
          <option value="R$60.000 a R$150.000">R$60.000 a R$150.000</option>
          <option value="R$150.000 a R$300.000">R$150.000 a R$300.000</option>
          <option value="mais de R$300.000">mais de R$300.000</option>
          <option value="Não definido">Não definido</option>
        </select>

        <label for="message">Mensagem</label>
        <textarea name="message" id="message" />

        <div class="align-right">
          <input id="submit" class="submit" type="submit" value="Enviar" />
        </div>

        <div id="errors" class="errors"></div>
      </form>
      <div id="success" class="hide success">
        <span class="icon">
          🚀
        </span>
        <h3 class="success">
          Enviado com sucesso!
        </h3>
        <p class="success-message">
          Logo entraremos em contato com você.
        </p>
      </div>
    </div>
  </div>
</Card>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
<script>
  const validateEmail = (email: string) => {
    return String(email)
      .toLowerCase()
      .match(/^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|.(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/)
  }

  emailjs.init('FQG9dgFZ0BhaljxA6')
  const form: HTMLFormElement = document.getElementById('form')
  const success = document.getElementById('success')
  const errors: HTMLElement = document.getElementById('errors')
  const button: HTMLInputElement = document.getElementById('submit')
  const serviceID = 'service_uo3m7md';
   const templateID = 'template_6axxtoc';
  form?.addEventListener('submit', (event) => {
    event.preventDefault()

    let error = ''

    if (!form.name.value) error += 'O campo nome é obrigatório <br />'
    if (!form.email.value) error += 'O campo email é obrigatório <br />'
    if (!validateEmail(form.email.value)) error += 'O campo e-mail parece inválido <br />'
    if (!form.budget.value) error += 'Selecione um orçamento <br />'

    errors.innerHTML = error

    if (errors.innerHTML !== '') return

    button.value = 'Enviando...'

    emailjs.sendForm(serviceID, templateID, form)
      .then(() => {
        form.classList.add('hide')
        success?.classList.remove('hide')
      }, (err: any) => {
        button.value = 'Enviar';
        alert(JSON.stringify(err));
      })
  })
</script>

<style>
  textarea,
  select,
  input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 1px solid var(--color-text);
    border-radius: var(--radius);
    background-color: var(--color-background);
    font-size: 16px;
    font-family: system-ui, sans-serif;
  }

  label {
    display: block;
    margin-top: 20px;
  }

  textarea {
    padding: 10px;
    height: 150px;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .row {
    display: flex;
    gap: 3rem;
  }

  .col {
    width: 50%;
    align-items: center;
  }

  .align-right {
    display: flex;
    justify-content: end;
    margin-top: 15px;
  }

  .errors {
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 12px;
    color: red;
  }

  .submit {
    display: block;
    padding: 13px 55px;
    border: 0;
    outline: none;
    border-radius: 6px;
    font-size: .875rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-background);
    background-color: var(--color-primary);
    cursor: pointer;
  }

  .icon {
    display: block;
    height: 60px;
    font-size: 100px;
    text-align: center;
    line-height: 120%;
  }

  .hide {
    display: none;
  }

  .success {
    padding-top: 100px;
    text-align: center;
  }
</style>
