---
import Layout from '../layouts/Layout.astro'
import Container from '../components/Container.astro'
---

<Layout title="Página não encontrada - Informant">
  <Container>
    <h1>Página não encontrada</h1>
  </Container>
</Layout>
