<section class="hero">
  <div class="text">
    <h1>Somos especialistas em desenvolvimento web, aplicativos móveis e integrações de APIs</h1>
    <p>Desenvolvedores altamente qualificados resolverão seus desafios de negócios mais complexos, os designers vão desenhar interfaces deslumbrantes com uma experiência de usuário intuitiva e tudo será construído com base em metodologias Lean-Agile para criar produtos pelos quais as pessoas vão se 💘</p>
  </div>
  <img
    width="300"
    height="378"
    class="image"
    src="/images/image-hero.png"
    alt="Imagem com os personagens que contituem a Informant. Quarto personagens vestindo uma roupa vermelha e cada um deles segurando objetos. Um globo, um logo Android, uma tabela de cores um uma bandeira com a logo da Informant."
  />
</section>

<style>
  .hero {
    display: flex;
    align-items: flex-start;
    max-width: var(--max-width);
    margin: var(--centralize);
    padding: var(--padding);
  }

  .text {
    padding-right: var(--padding);
  }

  .image {
    max-width: 300px;
  }

  @media screen and (max-width: 992px) {
    .image {
      max-width: 220px;
    }
  }

  @media screen and (max-width: 720px) {
    .text {
      padding-right: 0;
    }

    .image {
      display: none;
    }
  }
</style>
