---
export interface Props {
  mx?: '1' | '2' | '3' | '4' | '5'
  my?: '1' | '2' | '3' | '4' | '5'
}

const { mx, my } = Astro.props
---

<span class={`spacer ${mx && 'mx-' + mx} ${my && 'my-' + my}`}></span>

<style>
  .spacer {
    display: block;
  }

  /* -------------------------------------------- */

  .mx-1 {
    margin-left: 1rem;
  }

  .mx-2 {
    margin-left: 2rem;
  }

  .mx-3 {
    margin-left: 3rem;
  }

  .mx-4 {
    margin-left: 4rem;
  }

  .mx-5 {
    margin-left: 5rem;
  }

  /* -------------------------------------------- */

  .my-1 {
    margin-top: 1rem;
  }

  .my-2 {
    margin-top: 2rem;
  }

  .my-3 {
    margin-top: 3rem;
  }

  .my-4 {
    margin-top: 4rem;
  }

  .my-5 {
    margin-top: 5rem;
  }
</style>
