---
import Header from './Header.astro'
import Footer from './Footer.astro'

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="Astro description">
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
	<meta name="generator" content={Astro.generator} />
	<title>{title}</title>
</head>
<body>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>
<style is:global>
	:root {
    --color-text: #707070;
    --color-title: #393939;
    --color-primary: #db3252;
    --color-secondary: #56a2dc;
    --color-secondary-gradient: linear-gradient(90deg,#56a2dc 0,#60c2db);
    --color-background: #f5f5f5;

    --radius: 0.45rem;
    --padding: 2rem;
    --max-width: 1080px;
    --centralize: 0 auto;
    --transition: all .3s ease;
    --bounce: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
	}

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

	html {
		background-color: var(--color-background);
    color: var(--color-text);
		font-family: system-ui, sans-serif;
    line-height: 160%;
	}

  h1 {
    max-width: 690px;
    line-height: 125%;
    font-size: 2.45rem;
    margin-bottom: 1.5rem;
    color: var(--color-title);

    @media screen and (max-width: 720px) {
      font-size: 2rem;
    }
  }

  h1:after {
    content: '';
    display: block;
    width: 80px;
    height: 3px;
    margin: 15px 0 0 0;
    background-color: var(--color-primary);
  }

  p {
    margin-bottom: 1.5rem;
  }

  ul {
    list-style-position: inside;
  }

  img {
    display: block;
    line-height: 100%;
  }

  a {
    color: var(--color-secondary);
  }

  a:hover {
    text-decoration: none;
  }
</style>
