<span class="hamburger">
  <span></span>
  <span></span>
</span>

<nav class="nav">
  <span class="link">
    O que fazemos
    <div class="submenu">
      <a class="sublink" href="/o-que-fazemos/desenvolvimento-apps">
        <span>
          <img src="/images/icons/icon-launch.png" alt="Desenvolviento de apps">
        </span>
        Desenvolvimento de apps
      </a>
      <a class="sublink" href="/o-que-fazemos/desenvolvimento-web">
        <span>
          <img src="/images/icons/icon-world.png" alt="Desenvolviento web">
        </span>
        Desenvolvimento web
      </a>
      <a class="sublink" href="/o-que-fazemos/ui-ux-design">
        <span>
          <img src="/images/icons/icon-person.png" alt="UX/UI Design">
        </span>
        UI/UX Design
      </a>
    </div>
  </span>
  <span class="link">
    Como fazemos
    <div class="submenu">
      <a class="sublink" href="/como-fazemos/ponta-a-ponta">
        <span>
          <img src="/images/icons/icon-idea.png" alt="Desenvolvimento ponta a ponta">
        </span>
        Desenvolvimento ponta a ponta
      </a>
      <a class="sublink" href="/como-fazemos/extensao-time">
        <span>
          <img src="/images/icons/icon-people.png" alt="Extensão do seu time">
        </span>
        Extensão do seu time
      </a>
    </div>
  </span>
  <a href="/trabalho" class="link">
    Trabalho
  </a>
  <a href="/sobre" class="link">
    Sobre
  </a>
  <a href="/contato" class="link">
    Contato
  </a>
</nav>

<script>
  const hamburger = document.querySelector('.hamburger')
  hamburger?.addEventListener('click', () => {
    hamburger?.classList.toggle('active')
  })
</script>

<style>
  .nav {
    z-index: 3;
    display: flex;
    position: relative;
    transition: var(--transition);

    @media screen and (max-width: 720px) {
      display: block;
      position: absolute;
      background-color: white;
      border-radius: var(--radius);
      box-shadow: var(--shadow);
      padding: 1rem;
      top: 4rem;
      right: 1.35rem;
      opacity: 0;
      visibility: hidden;
    }
  }

  .link {
    display: flex;
    align-items: center;
    position: relative;
    height: 45px;
    margin-left: 1.25rem;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--color-text);
    cursor: default;

    @media screen and (max-width: 720px) {
      margin: 0;
      height: 30px;
      width: 100px;
      align-items: center;
      justify-content: end;
    }
  }

  a.link {
    cursor: pointer;
  }

  .link{
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -10px;
      width: 0%;
      height: 3px;
      background-color: var(--color-primary);
      transition: var(--transition);
    }

    @media screen and (max-width: 720px) {
      &:before {
        top: 22px !important;
        height: 2px;
      }
    }
  }

  .link:hover:before {
    width: 100%;
  }

  .link:hover {
    & > .submenu {
      top: 45px;
      opacity: 1;
      visibility:  visible;
    }
  }

  .submenu {
    display: flex;
    position: absolute;
    top: 30px;
    left: 50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: white;
    transform: translateX(-50%);
    box-shadow: var(--shadow);
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
    z-index: 2;

    &:before {
      content: '';
      display: block;
      position: absolute;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 8px solid white;
      z-index: 1;
      left: calc(50% - 3px);
      top: -8px;
    }

    @media screen and (max-width: 720px) {
      flex-wrap: wrap;
      width: 180px;
      left: -80px;
      top: 22px !important;
      border-radius: var(--radius) 0 var(--radius) var(--radius);
      border-right: 2px solid var(--color-primary);
      background-color: #ddd;

      &:before {
        display: none;
      }

      &:after {
        content: '';
      }
    }
  }

  .sublink {
    display: block;
    width: 100px;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    font-size: 0.675rem;
    font-weight: bold;
    text-decoration: none;
    line-height: 110%;
    color: var(--color-text);

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 2px;
      margin-top: 8px;
      background-color: var(--color-primary);
      transition: var(--transition);
    }

    &:hover {
      &:after {
        width: 25px;
      }
    }

    & > span {
      position: relative;
      display: flex;
      align-items: flex-end;
      width: 40px;
      height: 36px;
      left: -5px;
      margin-bottom: 15px;
      overflow: hidden;

      & > img {
        width: 40px;
        height: auto;
      }
    }

    @media screen and (max-width: 720px) {
      width: 100%;
    }
  }

  .hamburger {
    display: block;
    width: 25px;
    height: 16px;
    right: 1.5rem;
    top: 2.5rem;
    position: absolute;
    border-top: 2px solid var(--color-text);
    border-bottom: 2px solid var(--color-text);
    transition: var(--transition);
    cursor: pointer;

    & > span {
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      top: calc(50% - 1px);
      background: var(--color-text);
      transition: var(--transition);
    }

    &.active {
      border-color: var(--color-background);

      & > span {
        &:nth-child(1) {
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: rotate(-45deg);
        }
      }

      & + .nav {
        top: 4.5rem;
        opacity: 1;
        visibility: visible;
      }
    }
  }
</style>
